# **EduPrognosis: Student Performance Indicator**

- ## Life Cycle Of Machine Learning Project

    - *Understanding The Problem Statement*
    - *Data Cleaning*
    - *Data Checks To Perform*
    - *Exploratory Data Analysis*
    - *Data Pre-Processing*
    - *Model Training*
    - *Choose Best Model*

1. ### Problem Statement
- *This project understands how the student's performance(test scores) is affected by other variables such as Gender, Ethnicity, Parental Level of education, Lunch and Test preparation course.*

2. ### Data Collection
- Dataset Sources - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
- The Data Consists Of 8 Column and 1000 Rows.

### Import Data And Required Packages
- Importing Pandas, Numpy, Matplotlib, Seaborn And Warnings Library.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

- Import The CSV Data As Pandas DataFrame

In [2]:
df = pd.read_csv('data/stud.csv')

- Show Top 5 Records

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- Shape Of The DataSet

In [4]:
df.shape

(1000, 8)