# üìö**E·¥Ö·¥úP Ä·¥è…¢…¥·¥ès…™s: S·¥õ·¥ú·¥Ö·¥á…¥·¥õ P·¥á Ä“ì·¥è Ä·¥ç·¥Ä…¥·¥Ñ·¥á I…¥·¥Ö…™·¥Ñ·¥Ä·¥õ·¥è Ä**

- ## L…™“ì·¥á C è·¥Ñ ü·¥á O“ì M·¥Ä·¥Ñ ú…™…¥·¥á L·¥á·¥Ä Ä…¥…™…¥…¢ P Ä·¥è·¥ä·¥á·¥Ñ·¥õ

    - *U…¥·¥Ö·¥á Äs·¥õ·¥Ä…¥·¥Ö…™…¥…¢ T ú·¥á P Ä·¥è ô ü·¥á·¥ç S·¥õ·¥Ä·¥õ·¥á·¥ç·¥á…¥·¥õ*
    - *D·¥Ä·¥õ·¥Ä C ü·¥á·¥Ä…¥…™…¥…¢*
    - *D·¥Ä·¥õ·¥Ä C ú·¥á·¥Ñ·¥ãs T·¥è P·¥á Ä“ì·¥è Ä·¥ç*
    - *Ex·¥ò ü·¥è Ä·¥Ä·¥õ·¥è Ä è D·¥Ä·¥õ·¥Ä A…¥·¥Ä ü ès…™s*
    - *D·¥Ä·¥õ·¥Ä P Ä·¥á-P Ä·¥è·¥Ñ·¥áss…™…¥…¢*
    - *M·¥è·¥Ö·¥á ü T Ä·¥Ä…™…¥…™…¥…¢*
    - *C ú·¥è·¥ès·¥á B·¥ás·¥õ M·¥è·¥Ö·¥á ü*

1. ### P Ä·¥è ô ü·¥á·¥ç S·¥õ·¥Ä·¥õ·¥á·¥ç·¥á…¥·¥õ
- *T ú…™s ·¥ò Ä·¥è·¥ä·¥á·¥Ñ·¥õ ·¥ú…¥·¥Ö·¥á Äs·¥õ·¥Ä…¥·¥Ös  ú·¥è·¥° ·¥õ ú·¥á s·¥õ·¥ú·¥Ö·¥á…¥·¥õ's ·¥ò·¥á Ä“ì·¥è Ä·¥ç·¥Ä…¥·¥Ñ·¥á(·¥õ·¥ás·¥õ s·¥Ñ·¥è Ä·¥ás) …™s ·¥Ä“ì“ì·¥á·¥Ñ·¥õ·¥á·¥Ö  ô è ·¥è·¥õ ú·¥á Ä ·¥†·¥Ä Ä…™·¥Ä ô ü·¥ás s·¥ú·¥Ñ ú ·¥Äs G·¥á…¥·¥Ö·¥á Ä, E·¥õ ú…¥…™·¥Ñ…™·¥õ è, P·¥Ä Ä·¥á…¥·¥õ·¥Ä ü L·¥á·¥†·¥á ü ·¥è“ì ·¥á·¥Ö·¥ú·¥Ñ·¥Ä·¥õ…™·¥è…¥, L·¥ú…¥·¥Ñ ú ·¥Ä…¥·¥Ö T·¥ás·¥õ ·¥ò Ä·¥á·¥ò·¥Ä Ä·¥Ä·¥õ…™·¥è…¥ ·¥Ñ·¥è·¥ú Äs·¥á.*

2. ### D·¥Ä·¥õ·¥Ä C·¥è ü ü·¥á·¥Ñ·¥õ…™·¥è…¥
- D·¥Ä·¥õ·¥Äs·¥á·¥õ S·¥è·¥ú Ä·¥Ñ·¥ás -  ú·¥õ·¥õ·¥òs://·¥°·¥°·¥°.·¥ã·¥Ä…¢…¢ ü·¥á.·¥Ñ·¥è·¥ç/·¥Ö·¥Ä·¥õ·¥Äs·¥á·¥õs/s·¥òs·¥Ñ…™·¥á…¥·¥õ…™s·¥õ/s·¥õ·¥ú·¥Ö·¥á…¥·¥õs-·¥ò·¥á Ä“ì·¥è Ä·¥ç·¥Ä…¥·¥Ñ·¥á-…™…¥-·¥áx·¥Ä·¥çs?·¥Ö·¥Ä·¥õ·¥Äs·¥á·¥õI·¥Ö=74977
- T ú·¥á D·¥Ä·¥õ·¥Ä C·¥è…¥s…™s·¥õs O“ì 8 C·¥è ü·¥ú·¥ç…¥ ·¥Ä…¥·¥Ö 1000 R·¥è·¥°s.

### I·¥ç·¥ò·¥è Ä·¥õ D·¥Ä·¥õ·¥Ä A…¥·¥Ö R·¥á·¥èÃ®·¥ú…™ Ä·¥á·¥Ö P·¥Ä·¥Ñ·¥ã·¥Ä…¢·¥ás
- I·¥ç·¥ò·¥è Ä·¥õ…™…¥…¢ P·¥Ä…¥·¥Ö·¥Äs, N·¥ú·¥ç·¥ò è, M·¥Ä·¥õ·¥ò ü·¥è·¥õ ü…™ ô, S·¥á·¥Ä ô·¥è Ä…¥ A…¥·¥Ö W·¥Ä Ä…¥…™…¥…¢s L…™ ô Ä·¥Ä Ä è.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

- Import The CSV Data As Pandas DataFrame

In [2]:
df = pd.read_csv('data/stud.csv')

- Show Top 5 Records

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- Shape Of The DataSet

In [4]:
df.shape

(1000, 8)